* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 5%;
  margin-top: 3%;
}

h1, h2, h3, ul {
  margin-bottom: 0.7rem;
}

ul {
  padding-inline-start: 2rem;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

p.note .bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.holidays {
  font-style: italic;
}

footer p {
  font-size: 1.2rem;
}

sub {
  font-style: italic;
  font-size: 8px;
}